---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  a {
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    background-color: #5faffa;
    text-decoration: none;
  }
</style>
<footer>
    <a href="https://www.t.me/prip_z">Telegram</a>
    <a href ="https://www.github.com/Prip-Z">GitHub</a>

</footer>