---
import '../styles/global.css';
---

<div id="main-menu" class="nav-links">
  <a id="logo" href="/">ProgLearn</a>
  <a href="/python/">Python</a>
  <a href="/csharp/">C#</a>
  <a href="/web/">Web</a>
</div>